@page
@model KoiServiceCenter.WebApp.Pages.Admin.cost.IndexModel

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
@{
    ViewData["Title"] = "Danh sách dùng dịch vụ";
    int i = 1;
}
<h1 class="my-4">Danh sách bảng giá</h1>

<div class="d-flex mb-4 align-items-center">
    <form method="get" asp-page="./Index" class="d-flex align-items-center me-3">
        <label class="me-2 font-weight-bold">Tìm kiếm:</label>
        <input name="Search" class="form-control me-2" id="string" style="width: auto;" />
        <button type="submit" class="btn btn-primary">Tìm</button>
    </form>
    <a asp-page="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Thêm bảng giá
    </a>
</div>


<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thea class ="table-dark">
        <tr>
                <th>STT</th>          
            <th>
                @Html.DisplayNameFor(model => model.Cost[0].Cost1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost[0].AdditionalFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost[0].Service.Description)
            </th>
                <th style="width: 300px;">Hành động</th>
        </tr>
    </thea>
    <tbody>
@foreach (var item in Model.Cost) {
        <tr>
                    <td>@(i++)</td>                
            <td>
                @Html.DisplayFor(modelItem => item.Cost1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Description)
            </td>
            <td>
                        <div class="d-flex justify-content-center">
                            <a asp-page="./Edit" asp-route-id="@item.CostId" class="btn btn-sm btn-warning mx-1">
                                <i class="bi bi-pencil-square"></i>Sửa
                            </a> 
                            <a asp-page="./Details" asp-route-id="@item.CostId" class="btn btn-sm btn-info mx-1">
                                <i class="bi bi-info-circle"></i>Chi tiết
                            </a> 
                            <a asp-page="./Delete" asp-route-id="@item.CostId" class="btn btn-sm btn-danger mx-1">
                                <i class="bi bi-trash"></i>Xóa
                            </a>
                        </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
