@page
@model KoiServiceCenter.WebApp.Pages.Admin.report.DeleteModel

<h3>Are you sure you want to delete this report?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.TotalCustomers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.TotalCustomers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.TotalServices)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.TotalServices)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.AverageRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Notes)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Report.ReportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
