@page
@model KoiServiceCenter.WebApp.Pages.Admin.report.DetailsModel

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.TotalCustomers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.TotalCustomers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.TotalServices)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.TotalServices)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.AverageRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.ReportId" class="btn btn-sm btn-warning mx-1">
        <i class="bi bi-pencil-square"></i> Edit
    </a> |
    <a asp-page="./Index">Back to List</a>
</div>
