@page
@model KoiServiceCenter.WebApp.Pages.Admin.servicehistory.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.ServiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.ServiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Service.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Veterinarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Veterinarian.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceHistory.HistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
