@page
@model KoiServiceCenter.WebApp.Pages.Admin.servicehistory.DetailsModel

<div>
    <h4>ServiceHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.ServiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.ServiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Service.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Veterinarian.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Veterinarian.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Veterinarian.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Veterinarian.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceHistory.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceHistory.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceHistory.HistoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
